doctype
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    title compoze - 在线乐谱编辑与播放
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="stylesheet",href="../style/base.css")
    link(rel="stylesheet",href="../style/font.css")

  body

    div#start.start.icon &#xe602;
    div#stop.stop.icon.hidden &#xe601;
    div(style="text-align:center")
      h2 Komm,süsser Tod
    .container(style="width:980px;margin: 0 auto;position:relative; ")
      #player(style="display:none").
        options player=true tempo=200 width=980
        tabstave notation=true tablature=true
        notes 0/5 2/4 2/3 2/4 1/2
        tabstave notation=true tablature=true
        notes 0/5 2/4 2/3 2/4 1/2
        tabstave notation=true tablature=true
        notes 0/5 2/4 2/3 2/4 1/2
        tabstave notation=true tablature=true
        notes 0/5 2/4 2/3 (2/4+3/5) (1/2+2/5)
        tabstave notation=true tablature=true
        notes (0/1+0/5) 2/3 (1/2+2/4) 2/3 (1/1+1/2)
        tabstave notation=true tablature=true
        notes (0/1+4/6) 2/4 (0/2+1/3) 2/4 (1/2+0/3)
        tabstave notation=true tablature=true
        notes (0/1+0/2+3/6) 2/4 (3/2+0/3) 2/4 (1/2+0/3)
        tabstave notation=true tablature=true
        notes (3/2+2/3+2/6) 0/4 2/3 0/4 (2/3+2/6)
        tabstave notation=true tablature=true
        notes (1/2+2/3+1/6) 3/4 2/3 3/4 1/2
        tabstave notation=true tablature=true
        notes (3/2+0/3+3/6) 0/4 0/3 0/4 (1/2+0/3+3/6)
        tabstave notation=true tablature=true
        notes (0/1+3/5) 2/4 0/3 2/4 1/2
        tabstave notation=true tablature=true
        notes (1/3+0/6) 2/5 (2/3+4/6) 2/4 (0/2+4/3+7/6)
        tabstave notation=true tablature=true
        notes (0/1+0/5) 2/4 2/3 2/4 (1/1+1/2)
        tabstave notation=true tablature=true
        notes (0/1+4/6) 2/4 1/3 2/4 5/3
        tabstave notation=true tablature=true
        notes (0/1+0/2+3/6) 0/4 8/1 0/4 7/1
        tabstave notation=true tablature=true
        notes (3/2+2/3+2/6) 0/4 2/3 0/4 (2/3+2/6)
        tabstave notation=true tablature=true
        notes (1/2+2/3+1/6) 3/4 2/3 3/4 (1/2+2/3)
        tabstave notation=true tablature=true
        notes (3/2+0/3+3/6) 2/5 0/4 2/5 (1/2+0/3)
        tabstave notation=true tablature=true
        notes (2/3+0/5) 2/4 2/3 2/4 0/1
        tabstave notation=true tablature=true
        notes 2/3 2/3
        tabstave notation=true tablature=true
        notes (0/1+0/5) (0/1+2/4) (0/1+5/2+2/3) 2/3 4/3
        tabstave notation=true tablature=true
        notes (0/1+4/6) (0/1+2/4) (5/2+2/3) 2/3 4/3
        tabstave notation=true tablature=true
        notes (5/2+3/6) (0/1+5/4) (5/2+4/3) (0/1+5/2) (3/2+3/6)
        tabstave notation=true tablature=true
        notes (2/3+2/6) 0/4 2/3 0/4 (1/2+2/3)
        tabstave notation=true tablature=true
        notes (1/2+1/6) (1/2+3/5) (1/2+3/4) 2/3 (0/2+2/3+1/6)
        tabstave notation=true tablature=true
        notes (7/3+3/6) (3/2+5/4) 7/3 (3/2+3/6) 7/3
        tabstave notation=true tablature=true
        notes (5/2+5/3+3/5) (0/1+5/2) 5/2 0/1 3/2
        tabstave notation=true tablature=true
        notes (0/1+1/3+0/6) 0/1 (1/3+2/5) 1/3 2/3
        tabstave notation=true tablature=true
        notes (0/1+0/5) (0/1+2/4) (0/1+5/2+2/3) 2/3 4/3
        tabstave notation=true tablature=true
        notes (0/1+4/6) (0/1+2/4) (5/2+2/3) 2/3 4/3
        tabstave notation=true tablature=true
        notes (5/2+5/3+3/6) 0/1 (5/2+5/3) 5/1 5/2
        tabstave notation=true tablature=true
        notes (2/3+2/6) 0/4 2/3 0/4 2/3
        tabstave notation=true tablature=true
        notes (1/2+2/3+1/6) 3/4 2/3 3/4 (3/2+2/3+1/6)
        tabstave notation=true tablature=true
        notes (0/2+0/3+3/6) 0/4 0/3 0/4 2/3
        tabstave notation=true tablature=true
        notes (2/3+0/5) 2/4 2/3 2/4 1/2
        tabstave notation=true tablature=true
        notes (0/2+2/3+0/5) 2/4 (1/2+2/3) 2/4 (3/2+2/3)
        tabstave notation=true tablature=true
        notes (3/1+0/2+3/6) 2/5 0/4 (3/1+0/2) (3/1+0/2)
        tabstave notation=true tablature=true
        notes (3/1+0/2+3/6) 2/5 (1/1+0/2) 0/4 (3/2+0/3)
        tabstave notation=true tablature=true
        notes (1/1+0/4) 2/3 3/2 3/1 1/1
        tabstave notation=true tablature=true
        notes (0/1+1/2+0/5) 2/4 2/3 2/4 1/2
        tabstave notation=true tablature=true
        notes (3/2+0/3+3/6) 2/5 0/4 (3/2+0/3) (3/2+0/3)
        tabstave notation=true tablature=true
        notes (3/2+0/3+3/6) 2/5 (1/2+0/3) 0/4 (3/2+0/3)
        tabstave notation=true tablature=true
        notes (5/2+0/5) (0/1+7/4) 5/2 6/2 0/1
        tabstave notation=true tablature=true
        notes (0/1+0/5) 2/4 2/3 0/2 1/2
        tabstave notation=true tablature=true
        notes (3/1+0/2+3/6) 2/5 0/4 (3/1+0/2) (3/1+0/2)
        tabstave notation=true tablature=true
        notes (3/1+0/2+3/6) 2/5 (1/1+0/2) 0/4 (3/2+0/3)
        tabstave notation=true tablature=true
        notes (1/1+0/4) (1/1+2/3) (1/1+3/2) 3/1 (1/1+0/4)
        tabstave notation=true tablature=true
        notes 0/5 (0/1+1/2) 2/4 2/3 1/2
        tabstave notation=true tablature=true
        notes (3/2+3/3+3/4+1/5) 3/4 3/3 (3/2+3/3) (3/2+3/3)
        tabstave notation=true tablature=true
        notes (3/2+3/3+1/5) 3/4 (1/2+3/3) 3/4 3/3
        tabstave notation=true tablature=true
        notes (2/4+0/6) 2/4 (2/4+2/5) 2/5 2/4
        tabstave notation=true tablature=true
        notes (1/3+0/6) 2/5 (0/2+2/4) 1/3 (1/2+2/5)
        tabstave notation=true tablature=true
        notes (0/1+0/2+1/3+0/6) 2/5 0/4 1/3 0/2
        tabstave notation=true tablature=true
        notes (7/1+0/6) 4/1 6/2 0/1 7/3
        tabstave notation=true tablature=true
        notes (0/1+6/4) 7/3 1/2 0/2 2/3
        tabstave notation=true tablature=true
        notes (0/2+1/3+2/4+2/5+0/6)  :q 0/2 0/1
        tabstave notation=true tablature=true
        notes (8/1+0/5) (12/2+12/3) 8/1 (12/2+12/3) 8/1
        tabstave notation=true tablature=true
        notes (3/1+0/2+3/6) 0/4 0/3 0/4 (0/2+0/3)
        tabstave notation=true tablature=true
        notes (5/1+8/5) 8/2 5/1 8/2 5/1
        tabstave notation=true tablature=true
        notes (0/1+3/5) 2/4 1/2 0/1 1/2
        tabstave notation=true tablature=true
        notes (6/2+0/4) 0/1 6/2 0/1 6/2
        tabstave notation=true tablature=true
        notes (0/1+1/2+3/5) (3/2+0/3) (0/1+2/4) (3/2+0/3) 0/1
        tabstave notation=true tablature=true
        notes (3/2+2/5) 2/3 (3/2+3/4) 0/1 1/1
        tabstave notation=true tablature=true
        notes (0/1+0/6) 2/5 0/4 1/3 0/1
        tabstave notation=true tablature=true
        notes (8/1+0/5) (12/2+12/3) 8/1 (12/2+12/3) 8/1
        tabstave notation=true tablature=true
        notes (7/1+3/6) 0/4 0/3 0/2 0/3
        tabstave notation=true tablature=true
        notes (5/1+8/5) (8/2+7/4) 5/1 7/1 8/1
        tabstave notation=true tablature=true
        notes (3/1+3/5) 2/4 0/3 2/4 1/2
        tabstave notation=true tablature=true
        notes (1/1+0/4) 2/3  :8 3/2 (1/1+0/4)  :16 3/1 1/1
        tabstave notation=true tablature=true
        notes (0/1+1/2+3/5) 0/3 1/2 (1/1+2/4) 0/1
        tabstave notation=true tablature=true
        notes (3/2+2/5) (3/2+3/4) (3/2+2/3) (0/1+3/4) 1/1
        tabstave notation=true tablature=true
        notes (0/1+0/2+0/6) (0/2+2/5)
        tabstave notation=true tablature=true
        notes (1/2+2/3+1/6) 3/4 2/3 (3/2+2/3+1/6) 1/2
        tabstave notation=true tablature=true
        notes (0/2+0/3+3/6) 0/4 (1/2+0/3) 0/4 (0/2+0/3+2/5)
        tabstave notation=true tablature=true
        notes 0/5 2/4 2/3 2/4 1/2
        tabstave notation=true tablature=true
        notes 0/5 2/4 2/3 2/4 1/2
        tabstave notation=true tablature=true
        notes (1/2+2/3+1/6) 3/4 2/3 3/4 (3/2+2/3+1/6)
        tabstave notation=true tablature=true
        notes (0/2+0/3+3/6) 0/4 2/3 0/4 (1/2+2/3)
        tabstave notation=true tablature=true
        notes (2/3+0/5) 2/4 2/3 0/2 1/2
        tabstave notation=true tablature=true
        notes (5/1+5/2+2/3+2/4+0/5) 2/3
        tabstave notation=true tablature=true
        notes 0/5 2/4 2/3 2/4 5/1
        tabstave notation=true tablature=true
        notes 0/5 2/4 2/3 2/4 5/1
        tabstave notation=true tablature=true
        notes 0/5 2/4 2/3 2/4 5/1
        tabstave notation=true tablature=true
        notes 0/5 2/4 2/3 2/4 5/1


    .loading.line-scale
      div
      div
      div
      div
      div

    script(src="../../dist/compoze.js")
    script(src="../../lib/MIDI/MIDI.min.js")
    script(src="../../lib/inc/Base64.js")
    script(src="../../lib/inc/base64binary.js")
    script.
      instances = new Vex.Flow.TabDiv(document.getElementById('player'),
          {
              instrument: 'acoustic_guitar_steel',
              soundfont_url: "http://yuepuso.qiniudn.com/"
          }
      );
      document.getElementById('player').style.display = 'block'

      $('#start').on('click',function(){
        instances.player.play()
        $('#stop').show()
        $('#start').hide()
      })
      $('#stop').on('click',function(){
        instances.player.stop()
        $('#start').show()
        $('#stop').hide()
      })